   <section class="bg-light-gray">
        <div class="container">
           <div class="row">
                <div class="col-lg-12 text center">
                <h2 class="section-heading text-center"><i>Civics and Citizenship</i></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="text-muted"><i><strong>Civics and Citizenship</strong></i> is our after-school civic engagement program which helps young immigrants become <strong>involved in their communities, and gain the knowledge and skills they need to pursue higher education and meaningful careers.</strong>  It was developed in the belief that all citizens have a responsibility to participate in civic life. The program seeks to combat the isolation and other difficulties that affect new members of society.</p>
                <hr>
                <p class="text-muted">Civics and Citizenship is offered twice per year (October-December and March-May) and meets twice per week for ten weeks. In the program, youth meet different guest speakers including elected officials, working professionals from different careers (often immigrants themselves), and college and scholarship representatives. Youth visit local civic institutions such as police and fire stations and have the opportunity to contribute to their community firsthand through volunteer service learning projects. Upon completion of the course, students have a greater understanding of American democracy and are equipped with the knowledge and skills to become active participants in their local communities.</p>
            </div>
            <div class="col-md-6">
                <%= image_tag "ssyouth.JPG", :class => "img-responsive" %>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <%= image_tag "park-cleanup.JPG", :class => "img-responsive" %>
            </div>
            <div class="col-md-6">
                 <div id="carousel-example-generic" class="carousel fade testimonials" data-ride="carousel">
                  <!-- Wrapper for slides -->
                  <h3 class="text-center">What our youth say...</h3>
                    <div class="carousel-inner" role="listbox">
                        <div class="item">
                            <div class="mask">
                                <%= image_tag "face-one.JPG", :class => "img-responsive" %>
                            </div>
                            <div class="carousel-testimonial-caption">
                                    <p>Fulbert, Togo</p>
                                    <p>"Liberty's Promise is a good program for immigrants and I'm really proud to be in it!!"</p> 
                            </div>
                        </div>
                        <div class="item active">
                            <div class="mask">
                    <%= image_tag "face-three.JPG", :class => "img-responsive" %>
                            </div>
                            <div class="carousel-testimonial-caption">
                                    <p>Bryan, El Salvador</p>
                                    <p>"Liberty’s Promise is about becoming a better citizen."</p>
                                   
                            </div>
                        </div>
                        <div class="item">
                            <div class="mask">
                                <%= image_tag "face-two.JPG", :class => "img-responsive" %>
                            </div>
                            <div class="carousel-testimonial-caption">
                                    <p>Dave, Cameroon</p>
                                    <p>"Liberty’s Promise is about learning to help other people.”</p>
                            </div>
                        </div>
                    </div>
                     <ol class="carousel-indicators carousel-indicators-blue">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!-- container -->
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>

    <div class="row">
        <div class="col-lg-12">
            <p class="text-muted text-center"><i>"I participate in Liberty's Promise because of the community service, scholarship opportunities, and learning more about our community around us," - <i>Civics and Citizenship</i> participant from Nigeria.</i></p>
        </div>
    </div><!-- //Row-->

    </section>
    <!-- Civics Section-->