    <!-- Donors Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
           <div class="row">
                <div class="col-lg-12 text center">
                <h2 class="section-heading text-center">Our Supporters</h2>
                <p class="text-muted">For over a decade, Liberty's Promise has helped immigrant youth feel more welcomed in their new country and gain the knowledge and resources they need to realize their personal American dream. All this was made possible through the generosity of a variety of government, corporate, private foundations, and individual philanthropists, committed to helping our society's newest members.</p>
                </div>
            </div><!--- row-->

        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Private Foundations</h3>
                <%= image_tag "cafritz.png", :class => "img-responsive" %>
                <%= image_tag "community-foundation-nat-capital.jpg", :class => "img-responsive" %>
                <%= image_tag "community-foundation-nova.jpg", :class => "img-responsive" %>
                <%= image_tag "diana-davis-spencer.jpg", :class => "img-responsive" %>
                <%= image_tag "hattie.png", :class => "img-responsive" %>
                <%= image_tag "herb-block.png", :class => "img-responsive" %>
                <%= image_tag "imf.png", :class => "img-responsive" %>
                <%= image_tag "philip-graham.png", :class => "img-responsive" %>
                <%= image_tag "trawick.png", :class => "img-responsive" %>
            </div>
            <div class="col-md-6">
                <h3 class="text-center">Corporations</h3>
                <%= image_tag "respira.png", :class => "img-responsive" %>
                <%= image_tag "maximus.png", :class => "img-responsive" %>
                <%= image_tag "tj-maxx.png", :class => "img-responsive" %>
                <%= image_tag "wells-fargo.jpg", :class => "img-responsive" %>
                <h3 class="text-center">Individual Donors</h3>
                <%= image_tag "washington-area-womens-foundation.jpg", :class => "img-responsive" %>
            </div>
        </div> <!-- Row -->

    <div class="row">
        <div class="col-lg-12">
            <p class="text-muted text-center general-quote"></p>
        </div>
    </div><!-- //Row-->

    </div><!-- Container-->
    </section>
    <!-- /Donors -->