    <section>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">2016 Annual Fundraiser</h2>
                    <center>
                        <img class="img-responsive" src="img/fundraiser/lpfundraiserold.jpg">
                        <%= image_tag "lpfundraiserold.jpg", :class => "img-responsive" %>
                    </center>
                    </div>
                    <p class="text-muted">We are pleased to announce that our annual fundraiser will be held on <strong>Saturday, June 25th at the Pepco Edison Gallery.</strong> We are also very pleased to announce <strong>Montgomery County Councilmember Nancy Navarro as our guest of honor!</strong> We will hold a silent auction and raffle during the event with all proceeds going to the immigrant youth we help everyday. In addition ,there will be hors-d'œuvres and an open bar (beer and wine). We will also have a photobooth, so don't forget to stop by and capture some special LP moments! <br>

                        Purchase your tickets by check or <a href="https://www.eventbrite.com/e/annual-fundraiser-tickets-24995302623" class="site-link">on our Eventbrite Page</a> for $50 before the event or $75 at the door. If you can't make it to the event, you can make a donation to Liberty's Promise by sending a check to:</p> <br>

                        <p class="text-muted text-center">Liberty's Promise<br>
                        2900A Jefferson Davis Highway<br>
                        Alexandria, Virginia 22305</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <center>

                            <h2 class="section-heading">A special thanks to:</h2>

                            <h4>Our Sustaining Sponsors</h4>
                            <%= image_tag "mutryn.png", :class => "img-responsive" %>


                            <h4>Our Supporting Sponsor</h4>
                            <%= image_tag "pepco.png", :class => "img-responsive" %>

                            <h4>Our Helping Sponsor</h4>
                            <%= image_tag "geico.png", :class => "img-responsive" %>

                            <h4>Our Sponsor</h4>
                            <%= image_tag "johnmarshall.png", :class => "img-responsive" %>

                            <h4>Our Host</h4>
                            <% image_tag "pepcogallery.jpg", :class => "img-responsive" %>
                            </center>


                </div>
            </div>

        </div>
        <!-- Container -->

    </section>
    <!-- /fundraiser -->