    <!-- Results Section -->
    <section>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Results</h2>
                    <p class="text-muted">To date, we've worked with <a href="/pages/map" class="site-link"><strong>more than 3,500</strong> youth from <strong>117</strong> countries</a> , helping them to:</p>
                </div>
            </div> <!-- Row -->

            <div class="row">
                <div class="col-md-6">
                    <div class="team-member">
                        <%= image_tag "impact-community.JPG", :class => "img-responsive" %>
                        <h4><i class="fa fa-home"></i> Participate in civic life of their communities and develop a sense of belonging in their new home.</h4>
                        <p class="text-muted community-quote"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-member">
                        <%= image_tag "impact-intern.JPG", :class => "img-responsive" %>
                    <h4><i class="fa fa-suitcase"></i> Become better prepared for jobs.</h4>
                    <p class="text-muted job-quote"></p>
                    </div>
                </div>
            </div> <!-- Row-->

            <div class="row">
                <div class="col-md-6">
                    <div class="team-member">
                        <%= image_tag "impact-college.JPG", :class => "img-responsive" %>
                        <h4><i class="fa fa-road"></i> Graduate high school and learn the pathways to post-secondary education.</h4>
                        <p class="text-muted college-quote"></p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="team-member">
                        <%= image_tag "impact-family.JPG", :class => "img-responsive" %>
                        <h4><i class="fa fa-thumbs-up"></i> Get the support they need, when they need it.</h4>
                        <p class="text-muted support-quote"></p>
                    </div>
                </div>
            </div> <!-- Row-->

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Alumni</h2>
                </div>
            </div> <!-- Row -->

            <div class="row">
                <center>
               <div class="col-md-6">
                <%= image_tag "impact-hs-grad.JPG", :class => "img-responsive" %>
                    <h4><i class="fa fa-graduation-cap"></i> <u>99%</u> of our program alumni have earned a high school diploma or GED.</h4>
                </div>
                <div class="col-md-6">
                    <%= image_tag "impact-college-grad.JPG", :class => "img-responsive" %>
                    <h4><i class="fa fa-university"></i> <u>70%</u> of our alumni have completed at least some post-secondary education. In fact, through our direct assistance, our youth have earned over <u>2 million dollars</u> in scholarship money.</h4>
                </div>
                </center>
             </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-subheading">Why it matters...</h2>
                    <p class="text-muted">The statistics for the educational achievements of our youth far outweigh those of their demographic: according to the John Hopkins University and Pew Research Center, low-income students have a high school graduation rate of only <strong><u>74%</u></strong> and a college enrollment rate of just <strong><u>51%.</u></strong> We've worked with youth who didn't believe they would finish high school who have now earned degrees from schools like the University of Maryland. Youth who thought they would spend their lives working dead-end service jobs are now employed by companies like Bank of America, Guggenheim Investments, and Nestle International. We are honored to have helped so many young people realize their dreams.</p>
                </div>
            </div>

            <!-- Alumni Success Stories -->

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What our alumni say...</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="team-member">
                        <%= image_tag "alum-one.JPG", :class => "img-responsive img-circle" %>
                        <p class="text-muted">"Liberty's Promise helped open new doors for my future!" - youth from Peru.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <%= image_tag "alum-two.JPG", :class => "img-responsive img-circle" %>
                       
                        <p class="text-muted">"My internship at the Hyattsville Branch Library with Liberty's Promise has not only improved me professionally, but on a personal level as well." - youth from Cameroon.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <%= image_tag "alum-three.JPG", :class => "img-responsive img-circle" %>
                        <p class="text-muted">"I hope Liberty’s Promise continues to help immigrant students like me to succeed. I will never forget the incredible work that Liberty’s Promise does in my life." - youth from African Republic.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Results -->
