<!DOCTYPE html>
<html>
<head>
  <title>Liberty's Promise</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Custom Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Jvector Map -->

    <script>
    $(document).on('ready page:load', function(){
        jQuery('#vmap').vectorMap({
        map: 'world_en',
        backgroundColor: null,
        color: '#ffffff',
        hoverOpacity: 0.7,
        selectedColor: '#666666',
        enableZoom: true,
        showTooltip: true,
        values: numberYouth,
        scaleColors: ['#ffffff', '#006491'],
        normalizeFunction: 'polynomial',
        onLabelShow: function (event, label, code) {
            if (numberYouth[code] > 0)
                label.append(': '+numberYouth[code]+' Youth');
        }
    });
    });
    </script>

</head>
<body>

	<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/pages/index">Liberty's Promise</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us<b class="caret"></b></a>
                        <ul class="dropdown-menu" style="color:black">
                            <li style="color:black"><a href="/pages/about_us">About Us</a></li>
                            <li style="color:black"><a href="/posts">News</a></li>
                            <li style="color:black"><a href="/pages/staff">Staff</a></li>
                            <li style="color:black"><a href="/pages/board">Board of Directors</a></li>
                            <li style="color:black"><a href="/pages/donors">Donors</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Programs<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li style="color:black"><a href="/pages/what_we_do">What We Do</a><li>
                            <li style="color:black"><a href="/pages/civics">Civics and Citizenship</a></li>
                            <li style="color:black"><a href="/pages/cebell">CE-BELL</a></li>
                            <li style="color:black"><a href="/pages/opportunities_plus">Opportunities Plus</a></li>
                            <li style="color:black"><a href="/pages/locations">Locations</a>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Impact<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li style="color:black"><a href="/pages/results">Results</a></li>
                            <li style="color:black"><a href="/pages/map">Our Youth</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Donate Now<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li style="color:black"><a href="https://www.networkforgood.org/donation/ExpressDonation.aspx?ORGID2=27-0058022&vlrStratCode=5LyhRMUikvLodr853Ebcu6PWSC4tvSeX2fjuFrwoSQzzd%2fW4nFUnXEdr7yGCDR6i" target="_blank">Network for Good</a></li>
                            <li style="color:black"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=8TFZ8QCCHULCE" target="_blank">Paypal</a></li>
                            <li style="color:black"><a href="https://www.razoo.com/us/story/Libertyspromise" target="_blank">Razoo</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Involved<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li style="color:black"><a href="/pages/what_you_can_do"> What You Can Do</a></li>
                            <li style="color:black"><a href="/pages/fundraiser">Annual Fundraiser</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="page-scroll" href="/pages/contact">Contact</a>
                    </li>
                    <li class="dropdown">
                        <% if user_signed_in? && current_user.admin? %>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li style="color:black"><a href="/job_openings">Manage Gaithersburg Employment</a></li>
                            <li style="color:black"><a href="/posts">Manage Posts</a></li>
                            <li style="color:black"><a href="/users">Manage Users</a></li>
                            <li style="color:black"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                            <% end %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


<%= yield %>

<footer>
        <div class="container">
            <div class="row">
                <!-- Donations and Other Logos -->
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>
                            <!-- Combined Federal Campaign -->
                            <%= image_tag "cfc-logo.jpg", :class=> "img-responsive", :href=> "http://cfcnca.org/search/node/LIberty%27s%20Promise" %>
                        </li>
                        <li>
                            <!-- Razoo -->
                            <%= image_tag "razoo-logo.jpg", :class=> "img-responsive", :href=>"https://www.razoo.com/us/story/Libertyspromise" %>
                        </li>
                        <li>
                            <!-- Catalogue for Philanthropy -->
                            <%=image_tag "catalogue-philanthropy.jpg", :class=> "img-responsive", :style => "height: 80px; width: 80x" %>
                        </li>
                    </ul>
                </div>
                <!-- Social Media Buttons -->
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/LibertysPromise" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/libertyspromise/" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.instagram.com/libertyspromise/" target="_blank"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/company/10530485?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10530485%2Cidx%3A3-1-4%2CtarId%3A1469038140566%2Ctas%3ALiberty%27s%20Promise" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- Donations and Other Logos -->
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>
                            <!-- Paypal Button -->
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="K676279RGTYHW">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form>
                        </li>
                        <li>
                            <!-- Network for Good Button -->
                            <%= image_tag "donate.png", :class => "img-responsive", :href => "https://www.networkforgood.org/donation/ExpressDonation.aspx?ORGID2=27-0058022&amp;vlrStratCode=m427lNEQekjmwXVqy6wzYWE7j3ujDOkQxg2WYoMaw9UaeJANLH15K3fMo%2be6nnX5", :style => "width: 176px; height: 44px"%>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /End Row -->
            <!-- Row -->
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline quicklinks">
                        <li>Copyright &copy; Liberty's Promise 2016</li>
                        <li>Phone: (703) 549-9950</li>
                        <li>Fax: (703) 549-9953</li>
                        <li>info@libertyspromise.org</li>
                    </ul>
                </div>
            </div>
        </div>
</footer>


</body>
</html>
